<div style="margin-top: 10vh; background-color: var(--color2) !important; ">
    <div class="row " style="width: 101%; background-color: var(--color2) !important; ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 cont-page " style="background-color: var(--color2); padding-top: 10vh; height: 115vh; ">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 voice-cont ">
                <a href=" ">
                    <div class="block-function ">
                        <i class="fas fa-box-open "></i> <br> <br> <span class="block-descrition">Articoli</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 voice-cont ">
                <a href=" ">
                    <div class="block-function ">
                        <i class="fas fa-plus "></i> <br> <br> <span class="block-descrition">Crea Fattura</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 voice-cont ">
                <a href=" ">
                    <div class="block-function " style="width: 75%; ">
                        <i class="fas fa-list "></i> <br> <br> <span class="block-descrition">Vedi Fatture</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>