<app-menu [search]=true></app-menu>

<div class="home-container">
    <div class="row row-setting">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 cont-page block">
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 voice-cont ">
                <a routerLink="/items">
                    <div class="block-function ">
                        <i class="fas fa-box-open "></i> <br> <br> <span class="block-descrition">Articoli</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 voice-cont ">
                <a routerLink="/customers">
                    <div class="block-function ">
                        <i class="fas fa-users"></i> <br> <br> <span class="block-descrition">Clienti</span>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 voice-cont ">
                <a routerLink="/invoices">
                    <div class="block-function " style="width: 75%; ">
                        <i class="fas fa-cash-register"></i> <br> <br> <span class="block-descrition">Fatture</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>