.menu {
    position: relative;
    width: 100%;
    background-color: var(--colorbg);
    font-size: 18px;
}

.menu ol {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.menu>ol {
    display: flex;
}

.menu>ol>.menu-item {
    flex: 1;
    padding: 15px 0px;
}

.menu-item {
    position: relative;
    text-align: center;
    padding-top: 5px;
}

.menu-item:hover {
    background-color: var(--colorbglight);
}

.menu-item a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    color: #FFF;
}

.sub-menu .menu-item {
    padding: 0.75rem 0;
    background-color: var(--colorbg);
    opacity: 0;
    transform-origin: bottom;
    animation: enter 0.2s ease forwards;
}

.sub-menu .menu-item:nth-child(1) {
    animation-duration: 0.2s;
    animation-delay: 0s;
}

.sub-menu .menu-item:nth-child(2) {
    animation-duration: 0.3s;
    animation-delay: 0.1s;
}

.sub-menu .menu-item:nth-child(3) {
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}

.sub-menu .menu-item:hover {
    background-color: var(--colorbglight);
}

.logout {
    cursor: pointer;
}

.logo {
    background-image: url(../../../assets/logo3.png);
    background-repeat: no-repeat;
    background-size: 100% 59px;
    margin-top: 2px;
    margin-left: 2px;
    cursor: pointer;
    max-width: 220px;
}

@media screen and (max-width: 750px) {
    .logo {
        display: none;
    }
    form:hover {
        width: 100px;
    }
}

.sub-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
}

.menu-item:hover>.sub-menu {
    display: block;
}

a {
    text-decoration: none;
    line-height: 30px;
}

@keyframes enter {
    from {
        opacity: 0;
        transform: scaleY(0.98) translateY(10px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

//search
@media screen and (max-width: 500px) {
    .search {
        display: none;
    }
}

form {
    margin-bottom: -20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa {
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover {
    width: 220px;
    cursor: pointer;
}

form:hover input {
    display: block;
}

form:hover .fa {
    background: #07051a;
    color: white;
}

//switcher
.last {
    max-width: 60px;
    margin-left: 1%;
}

.no-hover:hover {
    background-color: transparent;
}

$toggle-background-color-on: red;
$toggle-background-color-off: green;
$toggle-control-color: white;
$toggle-width: 50px;
$toggle-height: 30px;
$toggle-gutter: 5px;
$toggle-radius: 50%;
$toggle-control-speed: .17s;
$toggle-control-ease: ease-in;
// These are our computed variables
// change at your own risk.
$toggle-radius: $toggle-height / 2;
$toggle-control-size: $toggle-height - ($toggle-gutter * 2);
.toggle-control {
    display: block;
    position: relative;
    padding-left: $toggle-width;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    input:checked~.control {
        background-color: $toggle-background-color-on;
        &:after {
            left: $toggle-width - $toggle-control-size - $toggle-gutter;
        }
    }
    .control {
        position: absolute;
        top: 0;
        left: 0;
        height: $toggle-height;
        width: $toggle-width;
        border-radius: $toggle-radius;
        background-color: $toggle-background-color-off;
        transition: background-color $toggle-control-speed $toggle-control-ease;
        &:after {
            content: "";
            position: absolute;
            left: $toggle-gutter;
            top: $toggle-gutter;
            width: $toggle-control-size;
            height: $toggle-control-size;
            border-radius: $toggle-radius;
            background: $toggle-control-color;
            transition: left $toggle-control-speed $toggle-control-ease;
        }
    }
}