<nav class="menu">
    <ol>
        <li class="menu-item logo no-hover"></li>
        <li class="menu-item"><a routerLink="/home">Home</a></li>
        <li class="menu-item"><a routerLink="/customers">Clienti</a></li>
        <li class="menu-item">
            <a routerLink="/invoices">Fatture</a>
            <ol class="sub-menu">
                <li class="menu-item" routerLink="/invoices-create"><a>Crea</a></li>
                <li class="menu-item" routerLink="/invoices"><a>Le mie fatture</a></li>
                <li class="menu-item" routerLink="/archived-invoices"><a>Archiviate</a></li>
            </ol>
        </li>
        <li class="menu-item logout" (click)="logout()"><a>Logout</a></li>
        <li class="menu-item no-hover search" *ngIf="search==true">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <form>
                <input type="search">
                <i class="fa fa-search"></i>
            </form>
        </li>
        <li class="menu-item last no-hover">

            <label id="switch" class="switch">
                        <input type="checkbox" onchange="toggleTheme()" id="slider">
                        <span class="slider round"></span>
                    </label>
            <!-- <button id="switch" onclick="toggleTheme()">Switch</button> -->

        </li>
    </ol>
</nav>

<style>
    /* THEME COLOR */
    /* The switch - the box around the slider */
    
    .switch {
        position: absolute;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 0rem 4rem -12rem 1rem;
        top: 10px;
        right: -20px;
    }
    /* Hide default HTML checkbox */
    
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* The slider */
    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color1);
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 3rem;
        width: 3rem;
        left: 0px;
        bottom: 4px;
        top: 0px;
        bottom: 0;
        margin: auto 0;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        box-shadow: 0 0px 15px #2020203d;
        background: var(--colorbg) url('../../../assets/switch.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 82% 82%;
    }
    
    input:checked+.slider {
        background-color: #77777780;
    }
    
    input:focus+.slider {
        box-shadow: 0 0 1px var(--color5);
    }
    
    input:checked+.slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(24px);
        background: var(--colorbg) url('../../../assets/switch.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    /* Rounded sliders */
    
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
</style>