<footer class="bg-light text-center text-lg-start ">
    <div class="container p-4 ">
        <div class="row ">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                <img src="../../../assets/logo3.png " alt=" " style="margin-left: -20vh; width: 38rem !important; margin-top: 1vh; ">
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 ">
                <h5 class="text-uppercase " style="color: var(--color2);">About "The Management"</h5>

                <p>
                    The Management è un gestionale semplice ed essenziale pensato per gestire le funzionalità base di un negozio. É ideale per i piccoli e medi privat che hanno l'esigenza di gestire gli ordini e le fattura di una cerchia ristretta di clienti. The Management
                    offre inoltre la possibilità di gestire il prorpio magazzino articoli.
                </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
                <h5 class="text-uppercase mb-0 " style="color: var(--color2);">Link del sito</h5>

                <ul class="list-unstyled ">
                    <li>
                        <a href="#! " class="text-dark ">Home</a>
                    </li>
                    <li>
                        <a href="#! " class="text-dark ">Articoli</a>
                    </li>
                    <li>
                        <a href="#! " class="text-dark ">Crea Fattura</a>
                    </li>
                    <li>
                        <a href="#! " class="text-dark ">Vedi Fatture</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); font-size: 1.5rem; color: var(--color2) !important;">
        ©️ 2021 Copyright
        <a class="text-dark " href=" " style="color: unset !important; ">Fondazione Jobs Academy</a>
    </div>
</footer>