<div class="footer">
    <div class="all">
        <div class="imgsocial">
            <div class="social-buttons">
                <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                    <span class="social-button__inner"><i class="fab fa-facebook-f"></i></span>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                    <span class="social-button__inner"><i class="fab fa-linkedin-in"></i></span>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--snapchat" aria-label="SnapChat">
                    <span class="social-button__inner"><i class="fab fa-snapchat-ghost"></i></span>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
                    <span class="social-button__inner"><i class="fab fa-github"></i></span>
                </a>
                <a href="#" class="social-buttons__button social-button social-button--codepen" aria-label="CodePen">
                    <span class="social-button__inner"><i class="fab fa-codepen"></i></span>
                </a>
            </div>
        </div>
        <div class="desc">
            <h5 class="text-uppercase ">About "The Management"</h5>
            <p>
                The Management è un gestionale semplice ed essenziale pensato per gestire le funzionalità base di un negozio. É ideale per i piccoli e medi privati che hanno l'esigenza di gestire gli ordini e le fatture di pochi clienti. The Management offre inoltre
                la possibilità di gestire il prorpio magazzino articoli.
            </p>
        </div>
        <div class="links" style="margin-left: 10px;">
            <h5 class="text-uppercase mb-0">Link del sito</h5>
            <ul class="list-unstyled ">
                <li>
                    <a href="#! " class="text-dark ">Home</a>
                </li>
                <li>
                    <a href="#! " class="text-dark ">Articoli</a>
                </li>
                <li>
                    <a href="#! " class="text-dark ">Crea Fattura</a>
                </li>
                <li>
                    <a href="#! " class="text-dark ">Vedi Fatture</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bott">
        ©️ 2021 Copyright
        <a class="text-dark " href=" " style="color: unset !important; ">Fondazione Jobs Academy</a>
    </div>
</div>