.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: var(--colorbg);
}

.footer p,
.footer li,
.footer a {
    font-size: 1.5rem;
    color: var(--color4);
}

.text-uppercase {
    font-size: 2rem;
    font-weight: bold;
}

a:hover {
    font-size: 2rem;
    color: var(--color2) !important;
}

.all {
    width: 100%;
    padding: 10px;
    display: flex;
}

.desc {
    width: 50%;
}

.bott {
    text-align: center;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    color: var(--color2);
}

.imgsocial {
    width: 30%;
    background-image: url(../../../assets/logo3.png);
    background-size: 65% 50%;
    background-repeat: no-repeat;
    background-position: 27% 3%;
}

//social icons
$social-button-radius: 45px;
$social-button-icon-size: 0.4;
$social-button-background: var(--colorbgdark);
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;
.social-buttons {
    margin-top: 85px;
    margin-left: -10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__button {
        margin: 10px 5px 0;
    }
}

$social-button-colors: ( "mail": #0072c6, "facebook": #3b5999, "linkedin": #0077b5, "github": #6e5494, "codepen": #1ab927, "steam": #7da10e, "snapchat":#eec900, "twitter": #55acee, "instagram": #e4405f, "npmjs": #c12127);
.social-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: $social-button-radius;
    height: $social-button-radius;
    text-decoration: none;
    &__inner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        border-radius: 100%;
        background: $social-button-background;
        text-align: center;
    }
    i,
    svg {
        position: relative;
        z-index: 1;
        transition: $social-button-transition-time;
    }
    i {
        font-size: $social-button-radius * $social-button-icon-size;
    }
    svg {
        height: percentage($social-button-icon-size);
        width: percentage($social-button-icon-size);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        display: block;
        width: 0;
        height: 0;
        border-radius: 100%;
        transition: $social-button-transition-time;
    }
    &:focus,
    &:hover {
        color: $social-button-active-color;
        &::after {
            width: 100%;
            height: 100%;
            margin-left: -50%;
        }
    }
    @each $name,
    $color in $social-button-colors {
        &--#{$name} {
            color: $color;
            &::after {
                background: $color;
            }
        }
    }
}