.theme-1 {
    --colorbg: #2d6a4f; //header, footer
    --colorbgdark: #0a3823; //header, footer
    --colorbglight: #5fb38d;
    --color1: #1b4332;
    --color2: #081c15; //color page, color icon
    --color3: #40916c; //hover
    --color4: white; //text footer, text header
    --bgcolorlayer: #081c15;
}

.theme-2 {
    --colorbg: #3e5c76; //header, footer
    --colorbgdark: #1d2d44; //header, footer
    --colorbglight: #748cab;
    --color1: #1d2d44;
    --color2: #f0ebd8; //color page, color icon
    --color3: #748cab; //hover
    --color4: white; //text footer, text header
    --bgcolorlayer: #1d2d44;
}

html,
body {
    background-color: var(--color2);
    margin: 0;
    padding: 0;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    height: 100%;
    max-height: 100%;
    font-family: sans-serif;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 800px) {
    canvas {
        height: 200% !important;
        align-items: center;
    }
    figure {
        margin-left: 20% !important;
    }
}

@media screen and (max-width: 1120px) {
    .scritta-carrello {
        display: none;
    }
    .scritta-home {
        display: none;
    }
    .container-personalizza {
        width: 200%;
    }
    .btn-aggiungi {
        width: 100%;
        float: none;
    }
    .btn-ripristina {
        width: 100%;
        float: none;
    }
}

#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    background-color: #fff;
    z-index: 99999;
    text-align: center;
}

#loading img {
    margin-top: 4%;
}

 :-webkit-scrollbar {
    background: #23b5b5 !important;
    width: 1.5rem;
}

 ::-webkit-scrollbar-thumb {
    background: #23b5b5 !important;
    border-radius: 0rem;
}