<!-- corpo  base-->
<app-menu [search]=true></app-menu>


<div class="container-page">
    <div class="row container-row ">


        <div class="col-12 col-sm-12 col-md-12 col-lg-12 table-container ">
            <!-- end copro base-->

            <div class="container table-responsive py-5 table-container-responsive">
                <div class="title-container">
                    <h1>Fatture.</h1> <i class="fas fa-file-invoice"></i>
                </div>

                <div class="button-container-new">
                    <button onclick="toggleNewLayer()"><a>Nuova Fattura</a></button>
                </div>

                <table class="table">
                    <tr class="tr">
                        <td class="th">Numero</td>
                        <td class="th">Cliente</td>
                        <td class="th">Data</td>
                        <td class="th">Pagamento</td>
                        <td class="th">Totale</td>
                        <td class="th">Azioni</td>
                    </tr>
                    <tr *ngFor="let item of arrayOne(28); let i = index;" class="tr">
                        <td class="td">{{i+1}}</td>
                        <td class="td">F.lli </td>
                        <td class="td">24/02/2020</td>
                        <td class="td">Bonifico</td>
                        <td class="td">130</td>
                        <td class="td">
                            <button onclick="toggleLayer()"><i class="fas fa-edit" id="edit"></i></button>
                            <button onclick="toggleLayerZoom()"><i class="fas fa-search" id="zoom"></i></button>
                            <button onclick="toggleLayerConfirm()"><i class="fas fa-times"></i></button>

                        </td>
                    </tr>
                </table>

            </div>

            <button onclick="toggleLayerOverlay()"><div id="overlay">

            </div>
        </button>





            <!-- Ricominica copro base-->
        </div>

    </div>
</div>
<!-- end copro base-->
<app-footer></app-footer>

<!--DIV MODIFICA FATTURA-->
<div id="div-edit" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times"></i></button>
        <h1>Modifica Fattura</h1>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Codice</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Codice" readonly disabled>

            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Data</label>
                <input class="form-control" id="exampleFormControlSelect1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <input multiple class="form-control" id="exampleFormControlSelect2">

            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <input class="form-control" id="exampleFormControlTextarea1" rows="3">
            </div>
            <div class="form-group">
                <button type="submit">Modifica Fattura</button>
            </div>
        </form>
    </div>
</div>
<!--END DIV MODIFICA FATTURA-->

<!--DIV CREA FATTURA-->

<div id="div-new" style="display: none;">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Crea Nuova Fattura</h1>
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Codice</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Codice" readonly disabled>

            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Data</label>
                <input class="form-control" id="exampleFormControlSelect1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Example multiple select</label>
                <input multiple class="form-control" id="exampleFormControlSelect2">

            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Example textarea</label>
                <input class="form-control" id="exampleFormControlTextarea1" rows="3">
            </div>
            <div class="form-group">
                <button type="submit">Crea Fattura</button>
            </div>
        </form>
    </div>
</div>
<!--END DIV CREA FATTURA-->

<!--DIV SEI SICURO DI VOLER ELIMINARE FATTURA?-->

<div id="div-delete" style="display: none; ">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <h1>Sei sicuro di voler eliminare la fattura?</h1>
        <br> <br>
        <button class="confirm-button" style="margin-right: 20px;" type="submit">Si</button>
        <button onclick="cancelConfirmLayer()" class="confirm-button" id="annulla" type="submit">No</button>
        <br><br><br>

    </div>
</div>


<!--DIV DETTAGLIO FATTURA-->

<div id="div-detail" style="display: none; ">
    <div class="form-container">
        <button id="x-icon" onclick="toggleLayerX()"><i class="fas fa-times" ></i></button>
        <button onclick="window.printDiv()" class="print"><i class="fas fa-print"></i></button>
        <div class="row">

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">

                <img src="../../../assets/logo-fatture.png" alt="">

            </div>

            <div class="col-6 col-sm-6 col-md-6 col-lg-6 ">

                Cliente: Cliente 1

            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 ">

                <table class="table">
                    <tr class="tr">
                        <td class="th">Numero</td>
                        <td class="th">Cliente</td>
                        <td class="th">Data</td>
                        <td class="th">Pagamento</td>
                        <td class="th">Totale</td>
                    </tr>
                    <tr *ngFor="let item of arrayOne(28); let i = index;" class="tr">
                        <td class="td">{{i+1}}</td>
                        <td class="td">F.lli </td>
                        <td class="td">24/02/2020</td>
                        <td class="td">Bonifico</td>
                    </tr>
                </table>

            </div>

        </div>

    </div>